<!DOCTYPE html>
<html>
  <% time = Time.new %>
  <p><%= "The date is #{time.strftime('%A')}, #{time.strftime('%B')} #{time.strftime('%d')}, #{time.strftime('%Y')}" %></p>
  
  "The date is #{Time.new.strftime('%A, %B %d, %Y')}"
 
 
  
</html>